<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weight Converter</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <section>
        <div class="header">
            <h1>Convert Your Items From Grams To Kilograms</h1>
        </div>
        <form action="result" method="post">
            
        </form>
    </section>
</body>
</html>